<h3>Practical on <%= @practical.start_time %> </h3>
<p>Students attended:</p>
<% @attendances.each do |attendance| %>
  Student ID: <%= attendance.student.sam_student_id %>   Name: <%= attendance.student.first_name%> <%= attendance.student.last_name %>
<% end %>