<h1>ManualAttendanceRecording#index</h1>
<p>Find me in app/views/manual_attendance_recording/index.html.erb</p>
<p>Your current practicals:</p>
<p><%= @practicals.first.course.course_title%></p>
<%= link_to "Record Attendance", manual_attendance_recording_search_path %>
