<br>
<div class="col-md-12 text-center mx-auto">
<h1>Start Practical on Device</h1>

<%= render 'form', pending_practical: @pending_practical %>

<%#= link_to 'Back', pending_practicals_path %>
</div>
