<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<h1>Editing Demonstrator</h1>

<%= render 'form', demonstrator: @demonstrator %>

<%= link_to 'Show', @demonstrator %> |
<%= link_to 'Back', demonstrators_path %>
