<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<h1>Editing Practical</h1>

<%= render 'form', practical: @practical %>

<%= link_to 'Show', @practical %> |
<%= link_to 'Back', practicals_path %>
