<!--Copyright (c) 2018 Team Foxtrot-->
<!--Licensed under MIT License-->

<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
